<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex GlezDev</title>

    <!-- Metadatos para redes sociales -->
    <meta property="og:title" content="Prueba estilo Pokédex" />
    <meta name="twitter:title" content="Prueba estilo Pokédex" />
    <meta property="og:image" content="https://www.pokemon.com/static-assets/app/static3/img/og-default-image.jpeg" />
    <meta name="twitter:image" content="https://www.pokemon.com/static-assets/app/static3/img/og-default-image.jpeg" />
    <meta name="description" content="Prueba creada por GlezDev" />
    <meta name="twitter:description" content="Prueba creada por GlezDev" />

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico"/>
    <!-- Enlace a la fuente Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="loader"></div> <!-- Pantalla de carga -->

    <header class="contenedor-nav">
        <!-- Navbar -->
    <nav class="button-container">
        <a class="button" href="../../home.html">
            <img src="../../favicon.ico" style="width: 24px;" alt="Pokebola">
        </a>
        <a class="button" href="../../components/pages/acerca.html">
            <img src="../../assets/img/pikachu.png" style="width: 24px;" alt="Pikachu">
        <a class="button" href="../../components/pages/contacto.html">
            <img src="../../assets/img/charizard.png" style="width: 24px;" alt="Charizard">
        </a>
    </nav>

    </header>
    <section>
        <div class="container mt-5 text-center pokedex-container-a">
            <h1 class="pokedex-title up">Acerca de la Prueba Técnica</h1>
            
            <p class="pokedex-description left">
                Esta prueba técnica fue realizada por Alejandro González Salcedo con el objetivo de evaluar las habilidades en el desarrollo front-end. La tarea consistió en crear un Pokédex web que interactúa con la API de Pokémon para mostrar información sobre diversos Pokémon.
            </p>
            <p class="pokedex-description right">
                Se utilizó HTML, CSS y JavaScript para construir la interfaz, así como Bootstrap para facilitar el diseño responsivo y amigable. La aplicación permite al usuario obtener un Pokémon al azar cada 30 segundos o mediante un botón, mostrando su nombre y foto.
            </p>
            <p class="pokedex-description down">
                La estructura y el estilo de la aplicación se diseñaron para ser intuitivos, inspirándose en la estética de los juegos de Pokémon. El enfoque en las buenas prácticas de programación y la eficiencia en el código fueron prioritarios durante el desarrollo.
            </p>
        </div>

    </section>
    
    

    <footer style="margin-top: auto;" class="footer-container">
        <!-- Footer -->
        <div class="container text-center">
            <span class="text-muted">© 2024 Pokédex GlezDev. Todos los derechos reservados.</span>
        </div>
    </footer>

    <!-- Scripts de jQuery y Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../assets/js/app.js"></script>
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="../../assets/js/load.js"></script>
   <script src="../../assets/js/scroll.js"></script>
</body>
</html>
